@import "../../global.scss";

.intro {
    background-color: $blkColor1;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;
        // align-items: center;
        // justify-content: center;

        .imgContainer{
            width: 650px;
            height: 650px;
            background-color: $blkColor2;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            margin-top: 5%;

            @include mobile {
                align-items: flex-start;
                border-radius: 0%;
                background-color: $blkColor1;
            }

            img{
                width: 100%;

                @include mobile {
                    height: 50%;
                    width: 50%;
                    border-radius: 10%;
                }
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;
        color: $textColor;

        @include mobile {
            margin-top: 0%;
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;

            @include mobile {
                padding-left: 0;
                margin-left: 0;
                align-items: center;
            }

            h2{
                font-size: 45px;

                @include mobile {
                    font-size: 30px;
                }
            }
            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile {
                    font-size: 40px;
                }
            }
            h3{
                font-size: 45px;

                @include mobile {
                    font-size: 20px;
                }

                span{
                    font-size: inherit;
                    color: #16825d;
                }

                .ityped-cursor {
                    color: $textColor;
                    opacity: 1;
                    -webkit-animation: blink 0.5s infinite;
                    -moz-animation: blink 0.5s infinite;
                    animation: blink 0.5s infinite;
                    animation-direction: alternate;
                }
                
                @keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
                
                @-webkit-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
                
                @-moz-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
        .downicon {
            position: absolute;
            bottom: 10px;
            left: 25%;
            color: $textColor;
            .icon{
                font-size: 70px;
                text-decoration: none;
                animation: arrowBlink 2s infinite;
            }

            @include mobile {
                left: 40%;
                bottom: 0;
                font-size: 30px;
            }

            @keyframes arrowBlink {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
